<style>
  #backgroundDiv{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    background-color: rgba(255, 215, 0, 0.35);
    background-blend-mode: soft-light;
  }
</style>
<div class="container-fluid" id="backgroundDiv"  [style.background-image]="currentBackground" >
  <div class="row">
    <div class="col-1">
    </div>
    <div style="background-color: rgba(125, 125, 175, 0.8); margin-top: 25px;" class="col-10">
      <app-feed></app-feed>
    </div>
  </div>
</div>
